Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
!Build.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
/__deploy
/deploy
/Nuke.Targets/bin
/Nuke.Targets/obj
/build/clang_tidy
/.deploy
/.tmp
/.idea
*_BuiltData.uasset
.nuke/temp/*
